flows-nodered.json
[{"id":"dfab51e7.ddf59","type":"tab","label":"Cathodic Protection and Half-Cell Potential Test","disabled":false,"info":""},{"id":"2b92a888.1890a8","type":"modbus-client","name":"RD6006","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"14502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"653d7645.59fcb8","type":"ui_tab","name":"Charger02","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ffb283b5.7f0cf","type":"ui_group","name":"Group 2","tab":"653d7645.59fcb8","order":2,"disp":false,"width":"8","collapse":false},{"id":"70ca806d.d7591","type":"ui_group","name":"rtdat","tab":"653d7645.59fcb8","order":1,"disp":false,"width":"8","collapse":false},{"id":"1d9d1c49.f32414","type":"ui_group","name":"Group 3","tab":"653d7645.59fcb8","order":3,"disp":false,"width":"8","collapse":false},{"id":"7bba9908.2652d8","type":"ui_group","name":"UD18","tab":"653d7645.59fcb8","order":4,"disp":true,"width":"2","collapse":false},{"id":"df1c70e1.a4ee","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"ICCP","tz":"","charset":""},{"id":"4092feda.8b16c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"0xff","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"36","bin":"bin","out":"count","addchar":"","responsetimeout":"3000"},{"id":"7a075307.59b5fc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4fd5f840.643768","type":"ui_group","name":"rtdata","tab":"306ad3e1.dcc68c","order":1,"disp":false,"width":"8"},{"id":"d5c13239.25206","type":"ui_group","name":"main","tab":"306ad3e1.dcc68c","order":3,"disp":false,"width":"8"},{"id":"152d191f.5e0f27","type":"ui_group","name":"Group 2","tab":"306ad3e1.dcc68c","order":2,"disp":false,"width":"8"},{"id":"306ad3e1.dcc68c","type":"ui_tab","name":"NiMH charger","icon":"dashboard","order":3},{"id":"2bed4857.126878","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"iccp","tz":"","charset":""},{"id":"c7df9a62.8170c8","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b5e652b3.f407","type":"ui_group","name":"Tes GUI 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"e8e8dd35.b970c","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iccp","tz":"","charset":"UTF8"},{"id":"429bae3f.e7825","type":"modbus-client","name":"Voltage Sensor","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"c72cb8da.f81138","type":"modbus-client","name":"current","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"fc31115.d8c71f","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bdbb5aea.eb7348","type":"mqtt-broker","name":"","broker":"tos.petra.ac.id","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"508202e6.5ac68c","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"iccp","tz":"","charset":""},{"id":"aa03c04a.aba5d","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"eb5f8623.d11438","type":"ui_group","name":"Tes GUI 1","tab":"","disp":true,"width":"6","collapse":false},{"id":"6b338455.7491cc","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iccp","tz":"","charset":"UTF8"},{"id":"3ece7f7e.05abc","type":"modbus-client","name":"Voltage Sensor","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB1","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"91dc3788.b1f068","type":"modbus-client","name":"current","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"cf6fd4c1.2c2758","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b74a93d4.3b755","type":"mqtt-broker","name":"","broker":"tos.petra.ac.id","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d7b8a33b.4fd4f","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/insert_database.php","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["c6b99148.c5cf2"]]},{"id":"ee60a9f3.aae5e8","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["362ccdc3.7938c2"]]},{"id":"5debd0e7.e1ad1","type":"comment","z":"dfab51e7.ddf59","name":"Kirim Data Power Supply ke Database","info":"","x":170,"y":60,"wires":[]},{"id":"362ccdc3.7938c2","type":"function","z":"dfab51e7.ddf59","name":"FC3: get RT registers ","func":"msg.payload = { 'fc': 3, 'unitid': 1, 'address':5, 'quantity': 10 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":200,"wires":[["c864e0e9.e9093"]]},{"id":"c864e0e9.e9093","type":"modbus-flex-getter","z":"dfab51e7.ddf59","name":"","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"server":"2b92a888.1890a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":350,"y":100,"wires":[["136a9a34.616866"],[]]},{"id":"aa9b04a9.fc1218","type":"function","z":"dfab51e7.ddf59","name":"","func":"if (msg.payload === \"\"){\n    msg.payload = {\"v_set\":0, \"i_set\":0,\"v_out\": 0, \"i_out\": 0,\"temp_c\": 0,\"temp_f\": 0,\"power\":0,\"input_volt\": 0,\"connected\":0,\"keterangan\":\"1\"};\n} else {\n    msg.payload = {\"v_set\":msg.payload[3]/100, \"i_set\":msg.payload[4]/1000,\"v_out\": msg.payload[5]/100, \"i_out\": msg.payload[6]/1000,\"temp_c\": msg.payload[0],\"temp_f\": msg.payload[2],\"power\":msg.payload[8]/100,\"input_volt\": msg.payload[9]/100,\"connected\":1,\"keterangan\":\"1\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["d7b8a33b.4fd4f"]]},{"id":"c6b99148.c5cf2","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"c65b7355.2d45b","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/insert_database.php","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":340,"wires":[["7db3bc15.736664"]]},{"id":"ec824fd8.d4d8b","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["66a17892.4d75a8"]]},{"id":"c2f92bd0.7d0ae8","type":"comment","z":"dfab51e7.ddf59","name":"Kirim Data Beda Potensial dari Voltage Sensor","info":"","x":190,"y":540,"wires":[]},{"id":"66a17892.4d75a8","type":"function","z":"dfab51e7.ddf59","name":"FC3: get RT registers ","func":"msg.payload = { 'fc': 3, 'unitid': 1, 'address':18, 'quantity': 1 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":440,"wires":[["d309faee.d0ed38"]]},{"id":"d309faee.d0ed38","type":"modbus-flex-getter","z":"dfab51e7.ddf59","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"2b92a888.1890a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":370,"y":340,"wires":[["a4c2f023.2f8e8"],[]]},{"id":"a4c2f023.2f8e8","type":"function","z":"dfab51e7.ddf59","name":"","func":"if (msg.payload === \"\"){\n    msg.payload = {\"status\": 0, \"keterangan\": 2}\n} else {\n    msg.payload = {\"status\": msg.payload[0], \"keterangan\": 2}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["c65b7355.2d45b"]]},{"id":"7db3bc15.736664","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":440,"wires":[]},{"id":"f5020870.0905b8","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["17c679e0.7f37f6"]]},{"id":"5c0cbae8.0dfbc4","type":"comment","z":"dfab51e7.ddf59","name":"Scheduling","info":"","x":100,"y":1140,"wires":[]},{"id":"17c679e0.7f37f6","type":"http request","z":"dfab51e7.ddf59","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/scheduling.php","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1180,"wires":[["d18034f7.c0a248","c62939c3.2ae178"]]},{"id":"d18034f7.c0a248","type":"switch","z":"dfab51e7.ddf59","name":"","property":"payload.ket","propertyType":"msg","rules":[{"t":"eq","v":"sama","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":1320,"wires":[["14d376dc.e41749"]]},{"id":"4442c904.c58ba8","type":"modbus-flex-write","z":"dfab51e7.ddf59","name":"","showStatusActivities":false,"showErrors":false,"server":"2b92a888.1890a8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":610,"y":1280,"wires":[[],[]]},{"id":"c37e98ad.b4e0b8","type":"function","z":"dfab51e7.ddf59","name":"FC6: set V_SET","func":"//Set V_Set\nmsg.payload = { value: msg.payload.v_set*100, 'fc': 6, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1280,"wires":[["4442c904.c58ba8"]]},{"id":"b037c86e.677d08","type":"function","z":"dfab51e7.ddf59","name":"FC6: set I_SET","func":"//Set I_Set\nmsg.payload = { value: msg.payload.i_set*1000, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1340,"wires":[["4442c904.c58ba8"]]},{"id":"c918f774.da2378","type":"function","z":"dfab51e7.ddf59","name":"FC 6:  set OUT","func":"msg.payload = { value: msg.payload.power_output, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1400,"wires":[["4442c904.c58ba8"]]},{"id":"14d376dc.e41749","type":"switch","z":"dfab51e7.ddf59","name":"","property":"payload.done","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":1400,"wires":[["c37e98ad.b4e0b8","b037c86e.677d08","c918f774.da2378"]]},{"id":"c62939c3.2ae178","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":1180,"wires":[]},{"id":"69e0e4fc.513f3c","type":"modbus-getter","z":"dfab51e7.ddf59","name":"Baca Voltage","showStatusActivities":true,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"3ece7f7e.05abc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":230,"y":700,"wires":[["bbd4c351.5630a"],[]]},{"id":"db6cb2e9.6f03a","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":600,"wires":[["69e0e4fc.513f3c"]]},{"id":"755ae990.3872e8","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":680,"wires":[]},{"id":"71ef17c0.404898","type":"function","z":"dfab51e7.ddf59","name":"","func":"// if (msg.payload === \"\"){\n//     msg.payload = {\"beda_potensial\": 0, \"peluang_korosi\":0, \"connected\":0,\"keterangan\": 3};\n// } else {\n    var data_sensor = msg.payload*10;\n    var data_konversi = data_sensor - (data_sensor * 2);\n    var peluang_korosi;\n    if (data_konversi < -350) {\n        peluang_korosi = 90;\n    } else if (data_konversi <= -200) {\n        peluang_korosi = 50;\n    } else if (data_konversi > -200) {\n        peluang_korosi = 10;\n    }\n    msg.payload = {\"beda_potensial\": data_konversi, \"peluang_korosi\":peluang_korosi,\"connected\":1 ,\"keterangan\": 3}; \n//}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["e01fe16.5a02c2"]]},{"id":"e01fe16.5a02c2","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/insert_database.php","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":600,"wires":[["755ae990.3872e8"]]},{"id":"a9f727ac.89ecb8","type":"comment","z":"dfab51e7.ddf59","name":"Kirim Output Status ke Database","info":"","x":170,"y":300,"wires":[]},{"id":"58c0ab9e.86cca4","type":"comment","z":"dfab51e7.ddf59","name":"Set Volt Ampere ke Power Supply","info":"","x":150,"y":840,"wires":[]},{"id":"a597e8b.f6be118","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":900,"wires":[["3297c8c0.e9d168"]]},{"id":"3297c8c0.e9d168","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/kirim_data.php","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":900,"wires":[["10c1e451.0ddafc","29675417.396bfc","1cab6801.05bd48","ff6a04d.f1bf2f8"]]},{"id":"10c1e451.0ddafc","type":"function","z":"dfab51e7.ddf59","name":"FC6: set V_SET","func":"//Set V_Set\nmsg.payload = { value: msg.payload.v_set*100, 'fc': 6, 'unitid': 1, 'address': 8 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":840,"wires":[["35dd0619.c177fa"]]},{"id":"29675417.396bfc","type":"function","z":"dfab51e7.ddf59","name":"FC6: set I_SET","func":"//Set I_Set\nmsg.payload = { value: msg.payload.i_set*1000, 'fc': 6, 'unitid': 1, 'address': 9 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":900,"wires":[["35dd0619.c177fa"]]},{"id":"35dd0619.c177fa","type":"modbus-flex-write","z":"dfab51e7.ddf59","name":"","showStatusActivities":false,"showErrors":false,"server":"2b92a888.1890a8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":790,"y":900,"wires":[[],[]]},{"id":"1cab6801.05bd48","type":"function","z":"dfab51e7.ddf59","name":"FC 6:  set OUT","func":"msg.payload = { value: msg.payload.power_output, 'fc': 6, 'unitid': 1, 'address': 18 , 'quantity': 1 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":960,"wires":[["35dd0619.c177fa"]]},{"id":"ff6a04d.f1bf2f8","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":1040,"wires":[]},{"id":"bbd4c351.5630a","type":"switch","z":"dfab51e7.ddf59","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":600,"wires":[["71ef17c0.404898"]]},{"id":"384b6404.9cb78c","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1700,"wires":[["aa302e5f.9cab8"]]},{"id":"aa302e5f.9cab8","type":"function","z":"dfab51e7.ddf59","name":"","func":"msg.payload = {\"keterangan\": 4}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1700,"wires":[["bb13feb7.b159e"]]},{"id":"bb13feb7.b159e","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/insert_database.php","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":1700,"wires":[[]]},{"id":"32f2321b.a7ebbe","type":"comment","z":"dfab51e7.ddf59","name":"Konektivitas Raspberry Pi","info":"","x":150,"y":1640,"wires":[]},{"id":"136a9a34.616866","type":"switch","z":"dfab51e7.ddf59","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":200,"wires":[["aa9b04a9.fc1218"]]},{"id":"f1f5dc3e.fec","type":"comment","z":"dfab51e7.ddf59","name":"Scheduling Repeat","info":"","x":130,"y":1480,"wires":[]},{"id":"a9d352f.7d251b","type":"inject","z":"dfab51e7.ddf59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1540,"wires":[["b9f7b33.e973e5"]]},{"id":"b9f7b33.e973e5","type":"http request","z":"dfab51e7.ddf59","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://tos.petra.ac.id/~c14170106/iccp/web_service/scheduling_repeat.php","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1540,"wires":[["46812e8f.c03ef"]]},{"id":"46812e8f.c03ef","type":"debug","z":"dfab51e7.ddf59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1540,"wires":[]}]